.Progress {
    margin: 0;
}

.Progress > div > div {
    margin: 0;
}

#app, .App, .Path {
    position: fixed;
    top: 55px;
    bottom: 30px;
    left: 0;
    right: 0;
}

.Path {
    top: 125px;
}

.Path > div:last-child {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.Path > div:last-child > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 55px;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0 !important;
    padding-top: 4px !important;
}

#logo-container > img {
    float: left;
    height: 7%;
    width: 7%;
}

.title {
    margin-left: 10%;
}