.Progress {
    margin: 0;
}

.Progress > div > div {
    margin: 0;
}

#app {
    height: 100%;
}

main > .container {
    height: 100%;
}

.Path > div:last-child {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}

.Path > div:last-child > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

body {
    display: flex;
    flex-direction: column;

}

header {
    height: 20%;
}

footer {
    height: 20%;
}
